.swiper {
  position: relative;
  overflow: hidden;

  @media (min-width: $screen-md) {
    display: none;
  }

  &--type_brands {
    height: 110px;
  }

  &--type_devices {
    height: 200px;
  }

  &--type_services {
    height: 240px;
  }

  & .swiper-pagination-bullet-active {
    background: $color-dot-active;
  }
}
