.sidebar {
  display: none;

  z-index: 1;
  background-color: white;
  box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02),
    16px 0px 52px rgba(14, 24, 80, 0.2);

  @media (min-width: 1440px) {
    display: flex;
    flex-direction: column;
    position: absolute;

    width: 320px;
    height: 100%;
    min-height: 1024px;
    top: 0;
    left: 0;
    padding: 24px;

    box-shadow: none;
  }

  &__header {
    margin-bottom: 50px;
  }

  &__main {
    margin-bottom: auto;
  }

  &__navigation {
    margin-bottom: 16px;
  }

  &__contacts {
    margin-bottom: 40px;
  }
}
