.sidebar {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba($color-light, 0.9);
  top: 0;
  left: 0;
  z-index: 30;
  overflow-y: auto;
  overflow-x: hidden;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.1s linear 0s;

  @media (min-width: $screen-xl) {
    position: absolute;
    width: $screen-xs;
    visibility: visible;
    opacity: 1;
  }

  &__container {
    display: flex;
    flex-direction: column;
    position: absolute;

    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    padding: $margin--size-md;

    z-index: 40;
    background-color: $color-light;
    box-shadow: none;
    transform: translateX(-100%);
    transition: transform 0.3s linear 0s;

    @media (min-width: $screen-sm) {
      width: $screen-xs;
      box-shadow: -2px 0px 4px rgba($color-dark, 0.02),
        16px 0px 52px rgba($color-dark, 0.2);
    }

    @media (min-width: $screen-xl) {
      box-shadow: none;
      transform: translateX(0);
    }
  }

  &__header {
    margin-bottom: 50px;
  }

  &__main {
    margin-bottom: auto;
    @media (min-width: $screen-xl) {
      margin-bottom: 240px;
    }
  }

  &__navigation {
    margin-bottom: $margin-main;
  }

  &__contacts {
    margin-bottom: 40px;
  }

  &--show {
    display: flex;

    visibility: visible;
    opacity: 1;

    & .sidebar__container {
      transform: translateX(0);
    }
  }
}
