.main {
  background-color: $gray-lighten;

  &__wrap {
    padding: $margin--size-md $margin-main;

    @media (min-width: $screen-md) {
      padding: $margin--size-md;
    }

    @media (min-width: $screen-xl) {
      padding: $margin--size-xl;
    }
  }

  &__intro {
    margin-bottom: 24px;

    @media (min-width: $screen-md) {
      margin-bottom: 32px;
    }

    @media (min-width: $screen-xl) {
      margin-bottom: 8px;
    }
  }

  &__sections-nav {
    margin-bottom: 24px;

    @media (min-width: $screen-md) {
      margin-bottom: 32px;
    }

    @media (min-width: $screen-xl) {
      margin-bottom: 20px;
    }
  }

  &__section {
    margin-bottom: 32px;
  }
}
