.main {
  background-color: $gray-lighten;

  &__wrap {
    padding: $margin--size-md 0;

    @media (min-width: $screen-md) {
      padding: $margin--size-md 0;
    }

    @media (min-width: $screen-xl) {
      padding: $margin--size-xl 0;
    }
  }

  &__intro {
    margin: 0 $margin-main 24px;

    @media (min-width: $screen-md) {
      margin: 0 $margin--size-md 32px;
    }

    @media (min-width: $screen-xl) {
      margin: 0 $margin--size-xl 8px;
    }
  }

  &__sections-nav {
    margin: 0 $margin-main 24px;

    @media (min-width: $screen-md) {
      margin: 0 $margin--size-md 32px;
    }

    @media (min-width: $screen-xl) {
      margin: 0 $margin--size-xl 20px;
    }
  }

  &__section {
    margin-bottom: 32px;
  }
}
