.toggle-btn {
  display: flex;
  align-items: center;
  font-weight: bold;
  background-color: inherit;
  border: 0;
  font-family: inherit;

  &::before {
    content: "";
    display: block;
    height: 10px;
    width: 8px;
    margin-right: 14px;
    background-size: 8px 10px;

    background-image: url("../img/icons/arrows-down.svg");
  }

  &--show {
    &::before {
      background-image: url("../img/icons/arrows-up.svg");
    }
  }
}
