.tiles {
  display: none;

  list-style: none;
  margin-bottom: 8px;

  @media (min-width: $screen-md) {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
  }

  &__item {
    margin-bottom: $margin-main;

    @media (min-width: $screen-md) {
      margin-right: 2%;
    }

    @media (min-width: 1120px) {
      margin-right: 2.66%;
    }

    &:nth-child(3n) {
      margin-right: 0;

      @media (min-width: 1120px) {
        margin-right: 2.66%;
      }
    }

    &:nth-child(4n) {
      @media (min-width: 1120px) {
        margin-right: 0;
      }
    }

    &--type_service {
      margin: 0;

      &:nth-child(3n) {
        margin-right: 0;
      }

      &:nth-child(4n) {
        margin-right: 0;
      }
    }
  }

  &--type_brands .tiles__item:nth-child(6) ~ .tiles__item {
    @media (min-width: $screen-md) {
      display: none;
    }
    @media (min-width: 1120px) {
      display: flex;
    }
  }

  &--type_brands .tiles__item:nth-child(8) ~ .tiles__item {
    @media (min-width: 1120px) {
      display: none;
    }
  }

  &--type_devices .tiles__item:nth-child(3) ~ .tiles__item {
    @media (min-width: $screen-md) {
      display: none;
    }
    @media (min-width: 1120px) {
      display: flex;
    }
  }

  &--type_devices .tiles__item:nth-child(4) ~ .tiles__item {
    @media (min-width: 1120px) {
      display: none;
    }
  }

  &--type_services {
    flex-direction: column;
  }

  &--show .tiles__item:first-child ~ .tiles__item {
    display: flex;
  }
}
