.btn {
  position: relative;
  width: 40px;
  height: 40px;
  flex-shrink: 0;

  background-color: $color-main;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  border: 0;
  transition: all 0.2s linear 0s;

  &:hover {
    filter: drop-shadow(0 0 10px $color-secondary);
  }

  &--theme_burger {
    background-image: url("../img/icons/burger.svg");
  }

  &--theme_call {
    background-image: url("../img/icons/call.svg");
  }

  &--theme_chat {
    background-image: url("../img/icons/chat.svg");
  }

  &--theme_profile {
    background-image: url("../img/icons/profile.svg");
  }

  &--theme_repair {
    background-image: url("../img/icons/repair.svg");
  }

  &--theme_check-status {
    background-image: url("../img/icons/check-status.svg");
  }

  &--theme_close {
    background-image: url("../img/icons/close.svg");
  }

  &--theme_search {
    background-image: url("../img/icons/search.svg");
  }

  &--theme_about {
    border: 2px solid $color-main;
    border-radius: 50%;

    background-color: transparent;
    background-image: url("../img/icons/dropdown.svg");
    background-repeat: no-repeat;
    background-position: 15px center;
  }

  &--theme_long {
    width: 120px;
    height: 32px;
    border-radius: 16px;
    padding-left: 12px;

    font-size: $font-size--btn;
    line-height: 2rem;
    text-align: left;
    vertical-align: middle;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: -0.7px;
    text-decoration: none;
    color: $color-light;

    background-color: $color-main;
    border: none;

    &::after {
      display: block;
      position: absolute;
      bottom: 0;
      right: 7px;
      width: 32px;
      height: 32px;
      border-radius: 50%;

      background-image: url("../img/icons/dropdown-white.svg");
      background-repeat: no-repeat;
      background-position: 15px center;
      content: "";
    }
  }
}
