.section {
  &__header {
    padding: 16px;
    border-top: 1px solid #d9fff5;
    background-image: linear-gradient(-270deg, #f8f8f8 0%, #ffffff 98.61%);
    margin-bottom: 16px;
  }

  &__title {
    font-size: 16px;
    width: 100%;

    font-weight: normal;
    text-transform: uppercase;
    color: #7e7e82;
  }

  &__toggle {
    display: none;

    @media (min-width: 768px) {
      display: flex;
    }
  }

  &--type_commercial-offer {
    max-width: 420px;
  }
}
