.section {
  &__header {
    padding: $margin-main;
    border-top: 1px solid $color-border;
    background-image: linear-gradient(
      -270deg,
      $gray-lighten 0%,
      $color-light 98.61%
    );
    margin-bottom: $margin-main;

    @media (min-width: $screen-md) {
      padding: $margin-main $margin--size-md;
    }

    @media (min-width: $screen-xl) {
      padding: $margin-main $margin--size-xl;
    }
  }

  &__main {
    margin: 0 $margin-main;

    @media (min-width: $screen-md) {
      margin: 0 $margin--size-md;
    }

    @media (min-width: $screen-xl) {
      margin: 0 $margin--size-xl;
    }
  }

  &__title {
    font-size: $font-size;
    width: 100%;

    font-weight: normal;
    text-transform: uppercase;
    color: $gray;
  }

  &__toggle {
    display: none;

    @media (min-width: $screen-md) {
      display: flex;
    }
  }

  &--type_commercial-offer {
    max-width: 420px;
  }
}
