.site-lang {
  display: flex;

  list-style: none;

  &__item {
    margin-left: 7px;

    &--active {
      color: $gray;
    }
  }

  &__btn {
    border: 0;
    background-color: inherit;
    color: inherit;
    cursor: pointer;
    transition: all 0.2s linear 0s;

    &:hover {
      filter: drop-shadow(6px 6px 5px);
      transform: scale(1.2);
      color: $color-dark;
    }
  }
}
