.sections-nav {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  letter-spacing: -0.2px;
  overflow-x: scroll;

  @media (min-width: $screen-xl) {
    flex-wrap: wrap;

    overflow-x: hidden;
  }

  &__item {
    flex-shrink: 0;

    list-style: none;

    line-height: 1.5rem;
    margin-left: 16px;

    @media (min-width: $screen-xl) {
      margin-left: 28px;
      margin-bottom: 14px;
    }

    &:first-child {
      margin-left: 0;
    }

    &--active {
      background-color: $color-light;
      border: 2px solid $color-border-dark;
      border-radius: 6px;
      padding: 10px;
    }

    &--display-size-l {
      display: none;

      @media (min-width: $screen-xl) {
        display: list-item;
      }
    }

    &--hidden-size-l {
      display: list-item;

      @media (min-width: $screen-xl) {
        display: none;
      }
    }

    &--not-active_size-l {
      background-color: $color-light;
      border: 2px solid $color-border-dark;
      border-radius: 6px;
      padding: 10px;

      @media (min-width: $screen-xl) {
        background-color: initial;
        border: 0;
        border-radius: 0;
        padding: 0;
      }
    }
  }

  &__link {
    display: block;
    text-decoration: none;
    height: 100%;

    color: $gray;
  }
}
