.header-menu {
  display: flex;
  align-items: center;

  &__close {
    margin-right: 16px;

    @media (min-width: $screen-xl) {
      display: none;
    }
  }

  &__logo {
    width: 100px;
    height: 50px;
    margin-right: auto;
  }
}
