.tile {
  position: relative;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: space-between;
  width: 240px;
  height: 72px;
  box-sizing: border-box;

  background-color: $color-light;
  border: 1px solid $gray-light;
  border-radius: 6px;

  padding: 16px;

  @media (min-width: $screen-md) {
    width: 32%;
  }

  @media (min-width: 1120px) {
    width: 23%;
  }

  &__title {
    align-self: flex-start;

    @media (min-width: $screen-md) {
      margin: 0;
    }

    &--type_service {
      margin-bottom: 4px;
      color: $gray;
    }
  }

  &__about {
    &--type_device {
      align-self: flex-end;
    }
  }

  &__text {
    margin-bottom: $margin-main;

    @media (min-width: $screen-md) {
      margin: 0;
    }

    &--type_name {
      @media (min-width: $screen-md) {
        width: 52%;
      }
      @media (min-width: $screen-xl) {
        width: 45%;
      }
    }

    &--type_price {
      @media (min-width: $screen-md) {
        width: 14%;
      }
      @media (min-width: $screen-xl) {
        width: 23%;
      }
    }

    &--type_time {
      @media (min-width: $screen-md) {
        width: 16%;
      }
      @media (min-width: $screen-xl) {
        width: 20%;
      }
    }
  }

  &__btn {
    position: absolute;
    bottom: 16px;
    right: 16px;

    @media (min-width: $screen-md) {
      position: relative;
      bottom: initial;
      right: initial;
    }
  }

  &--type_device {
    height: 160px;
  }

  &--type_service {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 200px;

    font-size: $font-size--text;
    line-height: 1rem;
    border-radius: 0;
    border: none;
    box-shadow: 0 -25px 0px -24px rgba($gray-light, 1);

    @media (min-width: $screen-md) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      align-self: stretch;
      width: auto;
      height: 64px;
      padding: 16px 24px;
    }

    @media (min-width: 1120px) {
      width: auto;
    }

    &:first-child {
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      box-shadow: none;
    }

    &:last-child {
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
    }
  }
}
