.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px $margin-main;

  border-bottom: 1px solid $color-border;

  @media (min-width: $screen-md) {
    padding: 19px $margin--size-md;
  }

  @media (min-width: $screen-xl) {
    display: none;
  }

  &__burger-btn {
    margin-right: 16px;

    @media (min-width: $screen-md) {
      margin-right: 42px;
    }

    &::after {
      display: none;
      content: "";

      @media (min-width: $screen-md) {
        display: block;
        position: absolute;
        right: -21px;
        top: 3px;
        width: 0;
        height: 32px;
        border: 1px solid $gray-light;
        border-radius: 1px;
        content: "";
      }
    }
  }

  &__logo {
    width: 100px;
    height: 50px;
  }

  &__navigation {
    margin-left: auto;
  }
}
