.contacts {
  display: flex;
  flex-direction: column;

  &__item {
    display: block;
    text-decoration: none;
    height: 100%;
    color: inherit;
    font-size: $font-size;
    line-height: 1.5em;

    &--type_email {
      margin-bottom: 12px;
    }

    &--type_phone {
      font-size: $font-size--large;
      line-height: 2em;
      font-weight: bold;
    }
  }
}
