.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  padding: 0 24px;

  @media (min-width: 768px) {
    flex-direction: row;
  }

  &__text {
    color: #7e7e82;
    margin-bottom: 16px;

    @media (min-width: 768px) {
      width: 30%;
    }

    &--link {
      text-decoration: none;
    }

    &--align-right {
      text-align: right;
    }
  }
}
