.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  padding: 0 24px;

  background-color: $gray-lighten;

  @media (min-width: $screen-md) {
    flex-direction: row;
  }

  &__text {
    color: $gray;
    margin-bottom: $margin-main;

    @media (min-width: $screen-md) {
      width: 30%;
    }

    &--link {
      text-decoration: none;
    }

    &--align-right {
      text-align: right;
    }
  }
}
