.navigation-menu {
  list-style: none;

  &__item {
    margin-bottom: 32px;

    &--active {
      color: $gray;

      &::before {
        content: "";
        display: block;
        position: absolute;
        left: -4px;
        height: 32px;
        margin-top: -5px;
        border-right: 8px solid $color-secondary;
        border-radius: 4px;
        clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
      }
    }
  }

  &__link {
    display: block;
    text-decoration: none;
    height: 100%;
    color: inherit;
    font-size: $font-size;
    line-height: 1.5em;
  }
}
