.about-us {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 0 $margin-main;

  @media (min-width: $screen-md) {
    flex-direction: row;
    margin: 0 $margin--size-md;
  }

  @media (min-width: $screen-xl) {
    margin: 0 $margin--size-xl;
  }

  &__image {
    width: 100%;
    border-radius: 0;
    margin-left: 0;

    @media (min-width: $screen-md) {
      max-width: $screen-sm;
      margin-left: 36px;
      border-radius: 10px;
    }

    @media (min-width: $screen-xl) {
      max-width: 531px;
      border-radius: 10px;
      margin-left: 36px;
    }
  }

  &__text {
    display: none;
    font-size: $font-size--text;
    line-height: 1.125rem;
    margin-bottom: $margin-main;

    @media (min-width: $screen-md) {
      line-height: 1.25rem;
      margin-bottom: 20px;
    }

    &:nth-child(1) {
      display: block;
    }

    &:nth-child(2) {
      @media (min-width: $screen-md) {
        display: block;
      }
    }
  }

  &__text-container {
    margin-bottom: $margin-main;
  }

  &__text-container-inner {
    max-height: auto;
    margin-bottom: $margin-main;
    transition: max-height 2s linear 0s;

    @media (min-width: $screen-md) {
      margin-bottom: 10px;
    }

    @media (min-width: $screen-xl) {
      margin-bottom: 14px;
    }

    &--show .about-us__text {
      display: block;
    }
  }
}
